.produit {
    border: 1px solid #eedfdf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
}

.produit h1, .produit p,.produit h3{
    margin: 0;
    padding: 0;
}